<p>Note to Tim: use <a href="http://tcpermaculture.com/site/plant-index/">this plant index</a> for starting data.</p>
<br />
<p>A <a href="/#!/process">plant selection</a> tool for building optimal permaculture plant guilds.</p>
<br />

<div class="process">
  <section class="primary">
    <h1>1. Select Centerpiece</h1>
    <p></p>

    <div class="search">
      <label>Search perennial plants</label>
      <input type="text" />
      <input type="checkbox" id="search-option-edible" /><label for="search-option-edible">Include only plants with edible uses</label>
    </div>

    <div class="info info-primary">
      <h1>Plant_Name</h1>
      <p>Plant_Species</p>
      <p>Plant_Type</p>

      <div class="slot slot-primary">
        <img src="/imgs/Juniper.jpg" />
        <p>plant_name</p>
      </div>

      <h2>Characteristics</h2>
      <p>Climate_Zone</p>
      <p>Layer_In_Forest_Garden_Hierarchy</p>
      <p>Average Growth Rate (meters / yr)</p>
      <p>Average Height At Maturity</p>
      <p>Average Breadth At Maturity</p>
      <p>Bloom_Time_Range</p>
      
      <h2>Uses</h2>
      <p>Food_Product(s)</p>
      <p>Windbreak</p>
      <p>Etc...</p>

      <h2>Preferred Growing Conditions</h2>
      <p>Sunlight</p>
      <p>Shade</p>
      <p>Soil</p>
      <p>Water</p>
      <p>pH Range</p>

      <p></p>
      <p></p>
      <p></p>
    </div>
  </section>

  <section class="companions">
    <h1>2. Build out companions.</h1>
    <p>To support a healthy Primary_Plant_Name, you'll need to select plants that fit specific roles.</p>
    <div class="toolbar">
      <button>Save This Plant Guild</button>
    </div>
    <div class="slots">
      <div class="slot">
        <p>Nitrogen Fixer</p>
        <img src="http://placehold.it/150x150" />
      </div>
      <div class="slot">
        <p>Dynamic Accumulator</p>
        <img src="http://placehold.it/150x150" />
      </div>
      <div class="slot">
        <p>Ground Cover</p>
        <img src="http://placehold.it/150x150" />
      </div>
      <div class="slot">
        <p>Pollinator</p>
        <img src="http://placehold.it/150x150" />
      </div>
      <div class="slot">
        <p>Pest Control</p>
        <img src="http://placehold.it/150x150" />
      </div>
      <div class="slot">
        <p>Anti-Fungal</p>
        <img src="http://placehold.it/150x150" />
      </div>
      <div class="clear"></div>
    </div>
  </section>
</div>

<div class="feedbacks">
  <section class="feedback layers">
    <h1>Vertical Utilization</h1>
    <p>This diagram tells you how well you're utilizing your vertical space.</p>
    <img src="http://placehold.it/300x150" />
  </section>
  <hr />
  <section class="feedback layout">
    <h1>Garden Space</h1>
    <p>This diagram visualizes some basic layouts for your selected plants at optimal mature spacing.</p>
    <img src="http://placehold.it/300x300" />
    <input type="radio" id="layout-shape-circle" name="shape" value="circle" checked><label for="layout-shape-circle">Circle</label>
    <input type="radio" id="layout-shape-lattice" name="shape" value="lattice"><label for="layout-shape-lattice">Lattice</label>
  </section>
  <hr />
  <section class="feedback layers">
    <h1>Water Tolerance Rating</h1>
    <p>This diagram tells you how well you're utilizing your vertical space.</p>
    <img src="http://placehold.it/300x150" />
  </section>
</div>