<h1>Permaculturiverse</h1>
<p>Making permaculture human again.</p>
<hr />

<section>
  <h1>Notes on <a href="https://medium.com/open-source-permaculture/open-source-permaculture-resources-and-vision-da6d44add7df#.lyqw6n2gh">Open Source Permaculture</a></h1>
  
  <hr />
  
  <h2>Vision Statements</h2>
  <ul>
    <li>Clear outline and structure that itself teaches</li>
    <li>Teaches the connections between "elements"</li>
    <li>Clear interconnections between "elements"</li>
    <li>Easily editable, narratively independent "elements"</li>
    <li>Free of "the voice of authors"</li>
    <li>Great user experience</li>
    <li>Pushes the "turn knowledge into action" boundary</li>
    <li>Ability to take offline</li>
    <li>Ability to perfect knowledge and process</li>
    <li>Be the work of the community (community generative)</li>
    <li>Ability to consolidate all current information from different types of sources</li>
      <ul>
        <li>design courses (open and closed)</li>
        <li>books</li>
        <li>forums</li>
        <li>blogs</li>
        <li>personal experience of practitioners</li>
      </ul>
    <li>High degree of "open intelligence" or a high value of information that is open and accessible</li>
  </ul>

  <hr />

  <h2>Breakdowns With Current System</h2>
  <ul>
    <li>Low accessibility of vast amounts of permaculture information</li>
    <li>Low degree of growth of information (lots of words, little new info)</li>
    <li>Low ability to generate community</li>
    <li>Current initiatives drivien moreby profit than by sharing in the mission of spreading the lifestyle of permaculture</li>
    <li>Superflouous narratives, social talk, filler info in existing literature</li>
    <li>People feeling as if they need "approval" from the existing "experts" to be successful</li>
  </ul>

  <hr />

  <h2>Learn How To's</h2>
  <ul>
    <li>Activity of setting up and maintaining permaculture system</li>
  </ul>

  <hr />

  <h2>Desires</h2>
  <ul>
    <li>Intelligent uptake and structuring of best available information</li>
    <ul>
      <li>... to make this simple</li>
      <li>... to make this streamlined</li>
      <li>... to make this geared towards activity</li>
    </ul>
    <li>Designed to produce real world food</li>
    <li>Easy to act now, learn the details over the time</li>
  </ul>

  <hr />

  <h2>GOALS</h2>
  <ul>
    <li>Good/great results for all people (not perfect results for experts)</li>
    <li>You dont have to go through years of learning for good-to-great results.</li>
    <li>For the people that "...STILL NEED FOOD"</li>
    <li>Simplify everything, get the design obsession out of permaculture</li>
    <li>Make permaculture human again</li>
  </ul>

  <hr />

  <h2>Design Possibilities</h2>
  
  <h3>Broken down by modules</h3>
  <ul>
    <li>by skill levels of people</li>
    <li>by motivation levels of people</li>
    <li>by ambition levels of people</li>
    <li>by resources available of people</li>
    <li>by climate</li>
    <li>by goals ("accomplishment aims")</li>
  </ul>

  <br />

  <h3>Target Ecosystems</h3>
  <p>How systems behave differently in various climate types...</p>
  
  <br />

  <h3>Types of Plants</h3>
  <ul>
    <li>by Type (tree, bush, hedge, groundcover, canopy, undercanopy, understory, vine)</li>
    <li>by light needs</li>
    <li>by water needs</li>
    <li>by growth speed</li>
    <li>by functions (pioneer, dynamic accumulator, nitrogen fixer)</li>
    <li>by resilience</li>
    <li>by outputs (fruits, nuts)</li>
  </ul>

  <h3>Techniques of Permaculture</h3>
  <p>How techniques work to accomplish various things at various times,to support certain types of plants in becoming a certain type of ecosystem.</p>
  <p>Topics:</p>
  <ul>
    <li>Fertility</li>
    <li>Propagation</li>
    <li>Planting</li>
    <li>Food preservation</li>
    <li>Guilding</li>
    <li>Earthshaping (swales, hugelkultur)</li>
    <li>Soil regeneration</li>
    <li>Water management</li>
  </ul>
  <p>Activity Guides:</p>
  <ul>
    <li>How to implement a certain final system using techniques and plants</li>
    <li>Where to use a certain type of pioneer</li>
    <li>what kind of plant structures to use</li>
    <li>what kind of density and succession to encourage</li>
  </ul>
</section>

<section>
  <h1>Design Constraints</h1>

  <ul>
    <li><strong>Encourage, emphasize, and promote perennial plants over annual</strong></li>
  </ul>

</section>