<h1>Process</h1>
<p>This page outlines the permaculture process, taken as an activity guide and to-do list if people want to start down the path of practicing permaculture. A large amount of "process" found today has tons of what <a href="https://twitter.com/timleisio">Tim</a> calls "academic content" that inhibits a "pick it up and go" mentality. The process below is attempting to resolve that challenge.</p>

<h2>Initial &amp; Ongoing Learning</h2>
<ol>
  <li>
    Learn about your context.
    <ol>
      <li>
        Global &amp; Regional
        <ul>
          <li>weather patterns - exercise: gather and document</li>
          <li>geological history</li>
          <li>major rivers and tributaries - exercise: find and upload national/regional watershed images</li>
          <li>topography</li>
        </ul>
      </li>
      <li>
        Local/State
        <ul>
          <li>watersheds - exercise: find and upload state/county watershed images</li>
          <li>topography</li>
          <li>plant life pre-civilization / native plants / old growth</li>
          <li>mantle types</li>
          <li>soil types</li>
        </ul>
      </li>
      <li>
        Site (all exercises...?)
        <ul>
          <li>sectors</li>
          <li>map topography - exercise: map your site contours</li>
          <li>take inventory of existing plants - exercise: document existing plants</li>
          <li>observe and map water flow</li>
          <li>soil type and infiltration</li>
          <li>identify and microclimate</li>
          <li>map access (roads, paths, and freq of use)</li>
          <li>zones</li>
        </ul>
      </li>
      <li>If you didn't yet do 2, do that.</li>
    </ol>
  </li>
  <li>
    Learn about plants and their biology.
  </li>
</ol>

<p>Add supplementary learning, inspiration, and resources?</p>

<h2>Experimentation</h2>
<h3>Prerequisites</h3>
<ol>
  <li>Review the Initial Learning Checklist.</li>
  <li>Define your goals.</li>
</ol>
<br />
<h3>Earth Shaping</h3>
<h3>Water Management</h3>
<h3>Plant Selection</h3>
<p>See the <a href="/#!/proto">plant guild creation tool</a> to select perennial food plants for your site.</p>
<h3></h3>
<h3></h3>


<h2>Community</h2>

